# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

pr/
scripts/
test/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem


# typescript
*.tsbuildinfo

app-example

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcuserdatad/
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/
*.apk
*.aab

google-services.json
config/

# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
yarn.lock
package-lock.json

# Environment variables
.env.development
.env.test
.env.production
*.env.js
.env*.local
.env

# Firebase
google-services.json
GoogleService-Info.plist
firebase-debug.log
firebase-debug.*.log
.firebase/

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
android/app/release/

# iOS
pods/
Pods/
*.xcworkspace
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/
.nyc_output/

# Keystores
*.keystore
!debug.keystore

# Logs
logs/
*.log

eas.json